* {
  -fx-font-family: Tahoma;
}

.button {
 -fx-background-color: #B0C4DE;
  -fx-border-color: black;
  -fx-text-alignment: center;
}

.button:hover {
  -fx-background-color: #AFEEEE;
}

.label {

}

.list-cell:even {
  -fx-background-color: #D3D3D3;
}

.list-cell:selected {
  -fx-background-color: #1E90FF;
  -fx-text-fill: white;
  -fx-border-color: black;
}

.tab {
  -fx-background-color: #B0C4DE;
  -fx-border-color: black;
}

.tab:hover {
  -fx-background-color: #AFEEEE;
}

.table-cell:even {
  -fx-background-color: #D3D3D3;
}

.table-row-cell:selected .table-cell {
  -fx-background-color: #1E90FF;
  -fx-text-fill: white;
  -fx-border-color: black;

}

#anchorPaneAdopt {
  -fx-background-color: #E0FFFF;
}

#anchorPaneAnimalPage {
  -fx-background-color: #E0FFFF;
}

#anchorPaneMain {
  -fx-background-color: #E0FFFF;
}

#anchorPaneHeader {
  -fx-background-color: #E0FFFF;
}

#anchorPaneQuestions {
  -fx-background-color: #E0FFFF;
}

#anchorPaneRecLogs {
  -fx-background-color: #E0FFFF;
}

#anchorPaneRecordedHrs {
  -fx-background-color: #E0FFFF;
}

#anchorPaneVolunteerApp {
  -fx-background-color: #E0FFFF;
}

#anchorPaneVolunteerSuccess {
  -fx-background-color: #E0FFFF;
}

#customerDashboardPane {
  -fx-background-color: #E0FFFF;
}

#HBoxAdopApp {
  -fx-background-color: #E0FFFF;
}

#HBoxVolunteerApp {
  -fx-background-color: #E0FFFF;
}

#viewEventsPane {
  -fx-background-color: #E0FFFF;
}