* {
  -fx-font-family: Tahoma;
}

.button {
 -fx-background-color: #B0C4DE;
  -fx-border-color: black;
}

.button:hover {
  -fx-background-color: #AFEEEE;
}

.label {

}

.tab {
  -fx-background-color: #B0C4DE;
  -fx-border-color: black;
}

.tab:hover {
  -fx-background-color: #AFEEEE;
}

.table-cell:even {
  -fx-background-color: #D3D3D3;
}

.table-row-cell:selected .table-cell {
  -fx-background-color: #1E90FF;
  -fx-text-fill: white;
  -fx-border-color: black;

}

#anchorPane {
  -fx-background-color: #E0FFFF;
}